# dependencies
/node_modules
modulo3/projetoCalcJuros/node_modules/
modulo3/projetoPaises/node_modules/
modulo4/desafio-final-full-stack/mongodb-import/.*
modulo4/desafio-final-full-stack/app/.*


/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
